<div class="column is-one-third">
  <div class="card bagel-card" id={{id}}>
    <div class="card-image" data-id={{id}}>
      <figure class="image is-4by3" data-id={{id}}>
        <img
          src="/images/{{filename}}"
          alt="Placeholder image"
          data-id={{id}}
        />
      </figure>
    </div>
    <div class="card-content" data-id={{id}}>
      <div class="media" data-id={{id}}>

        <div class="media-content" data-id={{id}}>
          <p class="title is-4" data-id={{id}}>{{bagel_name}}</p>

        </div>
      </div>

    </div>
  </div>
</div>