<div class="column is-one-third bagel-card" data-id={{id}}>
  <div class="card bagel-card" data-id={{id}}>
    <div class="card-image bagel-card" data-id={{id}}>
      <figure class="image is-4by3 bagel-card" data-id={{id}}>
        <img
          src="/images/{{filename}}"
          alt="Placeholder image"
          data-id={{id}}
          class="bagel-card"
        />
      </figure>
    </div>
    <div class="card-content bagel-card" data-id={{id}}>
      <div class="media bagel-card" data-id={{id}}>
        <div class="media-content bagel-card" data-id={{id}}>
          <p class="title is-4 bagel-card" data-id={{id}}>
            {{bagel_name}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>